@using BusinessObjects.Entities
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Course;
<link rel="stylesheet" href="~/css/course.css" />
<div class="container row m-lg-5">
    <div class="card rounded-3">
        <div class="card-body">
            <h4 class="card-title">Course: @Model.CourseName</h4>
            <p class="card-text"><strong>Number of students: @Model.Students.Count</strong></p>
            <p class="card-text"><strong>Start date @Model.CreateDate</strong></p>
            <a class="card-link" href="#">View list student</a>
        </div>
    </div>
    <div class="d-flex justify-content-center left-side col-md-4">
        <ul class="list-group mt-5 text-white">
            <li class=" d-flex justify-content-between align-content-center">
                <button type="button"
                        class="btn btn-outline-dark btn-rounded"
                        data-mdb-ripple-color="dark"
                        data-bs-toggle="modal"
                        data-bs-target="#createFolderModal"
                        style="width:100%">
                    Create
                </button>
            </li>
            @foreach (Resource r in Model.Resources)
            {
                <li class="list-group-item d-flex justify-content-between align-content-center">
                    <div class="d-flex flex-row">
                        <img src="https://img.icons8.com/color/100/000000/folder-invoices.png"
                         width="40" />
                        <div class="ml-2">
                            <h6 class="mb-0">@r.ResourceName</h6>
                            <div class="about">
                                <span>@(r.Files!=null ? r.Files.Count : 0) Files</span>
                                <span>@r.CreateDate</span>
                            </div>
                        </div>
                    </div>
                    <div class="menu-nav">
                        <div class="dropdown-container" tabindex="-1">
                            <div class="three-dots"></div>
                            <div class="dropdown">
                                <a data-bs-toggle="modal" data-bs-target="#editFolderModal" onClick="onUpdateResource('@r.ResourceId','@r.ResourceName');"><div>Edit Resourse</div></a>
                                <a href="/Course/DeleteResource?id=@r.ResourceId"><div>Delete Resourse</div></a>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="right-side col-md-8">
        <div class="list-file mt-5">
            <button type="button"
                    class="btn btn-secondary"
                    data-bs-toggle="modal"
                    data-bs-target="#uploadFileModal">
                Upload file
            </button>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">File Name</th>
                        <th scope="col">Modified</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>
                            <img src="https://img.icons8.com/color/100/000000/file.png"
                                 width="20" />
                            <a href="#">note.txt</a>
                        </td>
                        <td>Feb 8 2022</td>
                        <td>
                            <div class="menu-nav">
                                <div class="dropdown-container" tabindex="-1">
                                    <div class="three-dots"></div>
                                    <div class="dropdown">
                                        <a data-bs-toggle="modal" data-bs-target="#editFileModal" onClick="onUpdateFile('id','name');">Edit File Name</a>
                                        <a href="#">Download File</a>
                                        <a href="#">Delete File</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal PopUp -->
<!-- Modal Create Folder-->
<div class="modal fade"
     id="createFolderModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Folder</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <form action="/Course/CreateResource" method="post">
                <div class="modal-body">
                    <div class="mb-3 d-flex">
                        <label for="formFile" class="form-label">Folder Name </label>
                        <input class="form-control" type="text" id="folderName" name="folderName" />
                        <input class="form-control" type="hidden" id="courseId" name="courseId" value="@Model.CourseId" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal Upload File-->
<div class="modal fade"
     id="uploadFileModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload File</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <form asp-action="UploadFormFile" asp-controller="Course" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Current Folder: </label>
                        <input class="form-control" type="file" name="file"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    Close
                    </button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
            
        </div>
    </div>
</div>
<!-- Modal Change Resource Name-->
<div class="modal fade"
     id="editFolderModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Folder</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <form action="/Course/UpdateResource" method="post">
                <input class="form-control" type="hidden" id="formResourceId" name="resourceId" />
                <input class="form-control" type="hidden" id="formCourseId" name="courseId" value="@Model.CourseId" />
                <div class="modal-body">
                    <div class="mb-3 d-flex">
                        <label for="formFile" class="form-label">Resource Name </label>
                        <input class="form-control" type="text" id="formResourceOldName" name="resourceName" />
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal Change File Name-->
<div class="modal fade"
     id="editFileModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit File</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3 d-flex">
                    <label for="formFile" class="form-label">File Name </label>
                    <input class="form-control" type="text" id="formFileName" />
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/course.js"></script>